@import '../../var';

:host {
    grid-column: span 12;
    grid-row: 1;
    min-height: 100px;
    background-color: $white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.logo {
    grid-column: 1 /span 2;
    grid-row: 1;
}

.menu {
    grid-column: 3 /span 10;
    grid-row: 1;
}