@import '../../var';

:host {
    grid-column: span 12;
    grid-row: 1;
    min-height: 100px;
    background-color: $senary;
    color: $black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.logo{
    grid-column: 1/span 2;
}