@import '../../var';

:host {
    grid-column: span 12;
    grid-row: 3;
    min-height: 100px;
    background-color: $quinary;
    color: $black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}