@import '../../var';

:host {
    grid-column: 3/ span 7;
    grid-row: 2;
    min-height: 1080px;
    background-color: $primary;
    color: $black;
    display: flex;
    grid-template-columns: repeat(12, 1fr);
}