/* You can add global styles to this file, and also import other style files */


@import '~normalize.css';
body {
    display: inline-block;
}
:root{
    --primary:#1066f0;
    --secondary:#F0D565;
    --tertiary:#66D973;
    --white: #FFFFFF;
    --black: #000000;
}